[Unit]
Description=Apache Doris BE (Backend)
After=network.target
Wants=network-online.target

[Service]
Type=forking
User=@RUN_USER@
Group=@RUN_GROUP@
LimitNOFILE=65535
LimitNPROC=65535
LimitCORE=infinity
ExecStartPre=/sbin/swapoff -a
ExecStart=@BE_INSTALL_DIR@/bin/start_be.sh --daemon
ExecStop=@BE_INSTALL_DIR@/bin/stop_be.sh
Restart=on-failure
RestartSec=10
PIDFile=@BE_INSTALL_DIR@/bin/be.pid

[Install]
WantedBy=multi-user.target
